# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
env/

# IDE
.vs/
.vscode/
.idea/

# Media artifacts
*.mp4
*.part
*.ytdl
*.mp3
*.wav
*.flac

# Output
output/
testResults/

# Config
config.json
