sounddevice
transformers
mecab-python3
coqui-tts
torchaudio
Pillow
pydub
yt-dlp
librosa
customtkinter
CTkMessagebox
httpx
CTkMenuBar
sentencepiece
cutlet
mecab
unidic-lite
google-api-python-client
gtts
gradio